body {background-color:black;
font: arial;
color: white;}

h1{color:grey;
font:verdana;
font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}

div{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius:25px;
    width: 94%;
    margin-left: 15px;
    margin-right: 15px;
}



